# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Environment
.env
.venv/
venv/
ENV/
env.bak/
env/
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db